
*{
	margin: auto;
}

body{
	background-color: powderblue;
}
header{
	height: 250px;
	background-color: lightblue;
}
nav,aside{
	width: 20%;
	background-color: dodgerblue;
	float: left;
	font-size: 18px;
}
main{
	width: 60%;
	background-color: lightcyan;
	float: left;
	font-size: 18px;
}
footer{
	height: 100%;
	background-color: lightgrey;
	clear: both;
	font-size: 18px;
}
h2{
	text-align: center;
}
article p{
	text-align: justify;
}
article{
	border: dashed 1px grey;
	margin: 10px;
}
a{
  text-decoration: none;
}
#youtube iframe{
	margin: auto;
	display: block;
}
#wiki iframe{
	width: 100%;
	height: 350px;
}
.bgvideo{
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bgvideo video{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 1;
}
h1{
    z-index: 2;
    color: darkblue;
    font-size: 7vw;
}	
/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 0);
  background: #f00;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 20px;
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  width: 80%;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/*footer*/
.contact {
	width: 29%;
	display: inline-block;
  padding: 5px 20px;
}
.contact > iframe{
  float: right;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*adaptation*/
@media only screen and (max-width:800px){
  nav,aside,main{
    width: 100%;
  }
}
@media only screen and (max-width:800px){
  article{
    width: 97%;
  }
}
@media only screen and (max-width:800px){
  .contact{
    width: 97%;
  }
}
.contact > a{
  font-size: 24px;
}



























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































